input{
	width: 100%;
}
textarea#msg{
	width: 100%;
	height: 5em;
	resize: vertical;
}
span{
	margin: 0;
	padding: 0;
}
#top{
	text-align: center;
}
#index{
	font-size: 1.25em;
}
#links{
	list-style-type: none;
	text-align: center;
	margin: 0;
	padding: 0;
}
#links li{
	display: inline-block;
}
